* {
    box-sizing: border-box;
}


header{
    width: 100%; 
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    display: flex;
}



main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
   
}

article{
    display: center;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;

    
}

article .dinamic {
    width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  
}

article .blocos{
    display: flex;
    justify-content: space-between;
    margin: 5%;
    
    padding: 10px;
    font-family: Ropa Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 11px;
text-align: justify;


color: #555555;

}

article .bloco1{
    width: 100%;
    background: #EEEEEE;
    margin: 5%;
    
}
article .imgbl1{
    width: 100%;
  display: block;
}
article .prst1{
    text-align:center;
    justify-content: space-between;
    display: flex;
    margin: 5%;
    font-family: Ropa Sans;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 27px;

color: #888888;
}
article .borderstat1{
    color: white;
    background: #51D275;
border-radius: 10.5px;
}
article .bloco2{
    width: 100%;
    background: #EEEEEE;
    margin: 5%;
    
}
article .imgbl2{
    width: 100%;
  display: block;
}

article .prst2{
    text-align:center;
    justify-content: space-between;
    display: flex;
    margin: 5%;
    font-family: Ropa Sans;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 27px;

color: #888888;
}
article .borderstat2{
    
    color: white;
    background: #DC9730;
    border-radius: 10.5px;
    
}
article .retangulos{
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    display: center;
    margin: 5%;
    padding: 10px;
}
article .recimg1{
    width: 1000px
}
article .recimg2{
    width: 1000px
}

article .recimg3{
    width: 1000px
}

footer{
    width: 100%;
    background: #333333; 
    color: #FFFFFF; 
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px; 
    
    display: flex;
}
footer .map{
    width: 250px;
   
}

footer .divmap{
    width: 500px;
    justify-content: space-between;
    display: flex;
    margin: 5%;
    padding: 10px;
}

footer .textfooter{
    width: 150px;
    margin: 5%;
  
    
}
span #footendress{
    text-align: center;
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    text-align: justify;
}
footer .logos{
   
    display: flex;
}